In [1]:
import sys
sys.path.append("C:/Users/Nikhil/Google Drive Work/MyPythonLibraries/data-prep/data-prep")

In [2]:
from data_prep import DataPrep as dp

C:/Users/Nikhil/Google Drive Work/MyPythonLibraries/more/more\pandas_helper\__init__.py:6: UserWarning: registration of accessor <class 'pandas_helper.pandas_helper'> under name 'helper' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.
  class pandas_helper(object):

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Dictionary holding the data information (can contain multiple sources)
data_dict = {'vibha':
                 {'file_type':"csv",
                  'link':"../../../Vibha/VP_Fundraising_Report.csv",
                  'fillna':''
                 },
             'facebook':
                    {'file_type':"folder_csv",
                     'link':"../../../Vibha/FBDonationsAll",
                     'fillna':''
                    }
            }

In [5]:
# List of allowed columns in the final dataset
allowed_cols = ['Fundraiser Title', 'Campaign Title', 'Fundraiser Name',
                'Fundraiser Email', 'Donor First Name', 
                'Donor Last Name', 'Donor Name', 'Donation Date', 'Donor Email',
                'Transaction Type', 'Donation Currency',
                'Donation Amount', 'Comment', 'Source Name', 'City', 'State',
                'Zip Code', 'Country','Portal']

In [6]:
data_prep_obj = dp(data_dict= data_dict, allowed_cols=allowed_cols)

In [7]:
data_prep_obj.check_clenliness('vibha')

Additional columns in data: ['amount_currency', 'campaign_title', 'city', 'comment', 'country', 'donation_amount_in_usd', 'donation_date', 'donation_id', 'donor_first_name', 'donor_last_name', 'fundraiser_email', 'fundraiser_first_name', 'fundraiser_id', 'fundraiser_last_name', 'fundraiser_title', 'source_name', 'state', 'transaction_success', 'transaction_type', 'zip']
--------------------------------------------------
Missing columns in data: ['Campaign Title', 'City', 'Comment', 'Country', 'Donation Amount', 'Donation Currency', 'Donation Date', 'Donor Email', 'Donor First Name', 'Donor Last Name', 'Donor Name', 'Fundraiser Email', 'Fundraiser Name', 'Fundraiser Title', 'Portal', 'Source Name', 'State', 'Transaction Type', 'Zip Code']

In [8]:
# Now that we know what is mising and what is not named correctly, we can define a mapping to correct this
col_mapping = {'amount_currency': 'Donation Currency',
               'campaign_title': 'Campaign Title',
               'city': 'City',
               'comment': 'Comment',
               'country': 'Country', 
               'donation_amount_in_usd': 'Donation Amount',
               'donation_date': 'Donation Date', 
               'donation_id': 'Donation ID',
               'donor_first_name': 'Donor First Name',
               'donor_last_name': 'Donor Last Name',
               'fundraiser_email': 'Fundraiser Email', 
               'fundraiser_first_name': 'Fundraiser First Name',
               'fundraiser_id': 'Fundraiser ID', 
               'fundraiser_last_name': 'Fundraiser Last Name',
               'fundraiser_title': 'Fundraiser Title', 
               'source_name': 'Source Name', 
               'state': 'State',
               'transaction_success': 'Transaction Success', 
               'transaction_type': 'Transaction Type',
               'zip':'Zip Code',
               }

data_prep_obj.map_columns('vibha', mapping=col_mapping)

In [9]:
# Step 2A (Add Blank Columns) ----
blank_cols_to_add = 'Donor Email'  # List or single string value
data_prep_obj.add_columns('vibha',blank_cols_to_add,'')

In [10]:
# Add portal column
data_prep_obj.add_columns('vibha','Portal','Vibha')

In [11]:
data_prep_obj.get_data('vibha').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 22 columns):
Fundraiser ID            4001 non-null object
Fundraiser Title         4001 non-null object
Campaign Title           4001 non-null object
Fundraiser First Name    4001 non-null object
Fundraiser Last Name     4001 non-null object
Fundraiser Email         4001 non-null object
Donation ID              4001 non-null object
Donor First Name         4001 non-null object
Donor Last Name          4001 non-null object
Donation Date            4001 non-null object
Transaction Type         4001 non-null object
Transaction Success      4001 non-null bool
Donation Currency        4001 non-null object
Donation Amount          4001 non-null float64
Comment                  4001 non-null object
Source Name              4001 non-null object
City                     4001 non-null object
State                    4001 non-null object
Zip Code                 4001 non-null object
Country                  4001 non-null object
Donor Email              4001 non-null object
Portal                   4001 non-null object
dtypes: bool(1), float64(1), object(20)
memory usage: 660.4+ KB

In [12]:
transactions_to_delete = ['Facebook','Duplicate']
data_prep_obj.filter_delete('vibha','Transaction Type',transactions_to_delete)

In [13]:
data_prep_obj.get_data('vibha').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4001 entries, 0 to 4000
Data columns (total 22 columns):
Fundraiser ID            4001 non-null object
Fundraiser Title         4001 non-null object
Campaign Title           4001 non-null object
Fundraiser First Name    4001 non-null object
Fundraiser Last Name     4001 non-null object
Fundraiser Email         4001 non-null object
Donation ID              4001 non-null object
Donor First Name         4001 non-null object
Donor Last Name          4001 non-null object
Donation Date            4001 non-null object
Transaction Type         4001 non-null object
Transaction Success      4001 non-null bool
Donation Currency        4001 non-null object
Donation Amount          4001 non-null float64
Comment                  4001 non-null object
Source Name              4001 non-null object
City                     4001 non-null object
State                    4001 non-null object
Zip Code                 4001 non-null object
Country                  4001 non-null object
Donor Email              4001 non-null object
Portal                   4001 non-null object
dtypes: bool(1), float64(1), object(20)
memory usage: 691.6+ KB

In [14]:
columns_to_strip = ['Donor First Name','Donor Last Name']
data_prep_obj.strip_columns('vibha', columns_to_strip)
data_prep_obj.concat_columns('vibha','Donor Name', columns_to_strip)

columns_to_strip = ['Fundraiser First Name','Fundraiser Last Name']
data_prep_obj.strip_columns('vibha',columns_to_strip)
data_prep_obj.concat_columns('vibha','Fundraiser Name', columns_to_strip)

In [15]:
data_prep_obj.filter_change('vibha','Source Name','Generic Donation Vibha Website','Campaign Title','VP Generic Donation')
data_prep_obj.filter_change('vibha','Source Name','Generic Donation Vibha Website','Fundraiser Name','VP Generic Donation')
data_prep_obj.filter_change('vibha','Source Name','Generic Donation Vibha Website','Fundraiser Title','VP Generic Donation')
data_prep_obj.filter_change('vibha','Source Name','Generic Donation Vibha Website','Fundraiser Email','info@vibha.org')
data_prep_obj.filter_change('vibha','Source Name','Generic Donation Vibha Website','Source Name','VP Generic Donation')

In [16]:
cols_to_delete = ['Donation ID', 'Fundraiser First Name', 'Fundraiser ID', 'Fundraiser Last Name', 'Transaction Success']
data_prep_obj.drop_columns('vibha',cols_to_delete)

In [17]:
data_prep_obj.get_data('vibha').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4001 entries, 0 to 4000
Data columns (total 19 columns):
Fundraiser Title     4001 non-null object
Campaign Title       4001 non-null object
Fundraiser Email     4001 non-null object
Donor First Name     4001 non-null object
Donor Last Name      4001 non-null object
Donation Date        4001 non-null object
Transaction Type     4001 non-null object
Donation Currency    4001 non-null object
Donation Amount      4001 non-null float64
Comment              4001 non-null object
Source Name          4001 non-null object
City                 4001 non-null object
State                4001 non-null object
Zip Code             4001 non-null object
Country              4001 non-null object
Donor Email          4001 non-null object
Portal               4001 non-null object
Donor Name           4001 non-null object
Fundraiser Name      4001 non-null object
dtypes: float64(1), object(18)
memory usage: 625.2+ KB

In [18]:
data_prep_obj.check_clenliness('vibha')

Additional columns in data: []
--------------------------------------------------
Missing columns in data: []

#### Data is clean now

In [19]:
data_prep_obj.get_col_names('vibha')

Index(['Fundraiser Title', 'Campaign Title', 'Fundraiser Email',
       'Donor First Name', 'Donor Last Name', 'Donation Date',
       'Transaction Type', 'Donation Currency', 'Donation Amount', 'Comment',
       'Source Name', 'City', 'State', 'Zip Code', 'Country', 'Donor Email',
       'Portal', 'Donor Name', 'Fundraiser Name'],
      dtype='object')

## 2nd Data Source

In [20]:
# # We can also specify data sources after instantiation if needed
# # Dictionary holding the data information (can contain multiple sourses)
# update_data_dict = {'facebook':
#                     {'file_type':"folder_csv",
#                      'link':"../../../Vibha/FBDonationsAll",
#                      'fillna':''
#                     }
#                    }

# data_prep_obj.update_data_info(update_data_dict)

In [21]:
data_prep_obj.get_data('facebook').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6150 entries, 0 to 6149
Data columns (total 20 columns):
Payment ID             6150 non-null int64
Charge Time            6150 non-null int64
Donation Amount        6150 non-null float64
FB Fee                 6150 non-null float64
Net Payout Amount      6150 non-null float64
Payout Currency        6150 non-null object
Sender Currency        6150 non-null object
Tax Amount             6150 non-null int64
Tax USD Amount         6150 non-null int64
Charge Action Type     6150 non-null object
Charge Date            6150 non-null object
First Name             6150 non-null object
Last Name              6150 non-null object
Email Address          6150 non-null object
Campaign ID            6150 non-null object
Fundraiser Title       6150 non-null object
Source Name            6150 non-null object
Permalink              6150 non-null object
Charity ID             6150 non-null int64
Campaign Owner Name    6150 non-null object
dtypes: float64(3), int64(5), object(12)
memory usage: 961.1+ KB

In [22]:
data_prep_obj.get_data('facebook').head()

,Payment ID,Charge Time,Donation Amount,FB Fee,Net Payout Amount,Payout Currency,Sender Currency,Tax Amount,Tax USD Amount,Charge Action Type,Charge Date,First Name,Last Name,Email Address,Campaign ID,Fundraiser Title,Source Name,Permalink,Charity ID,Campaign Owner Name
0,1031263460319074,1484788155,50.0,2.5,47.5,USD,USD,0,0,S,2017-01-18,Vindali,Vartak,,1.01548e+16,Vibe 2017 - Dancing for a cause fundraiser,fundraiser,,10153757139666376,Sulabha Paranjape
1,1132534850192429,1484794995,20.0,1.0,19.0,USD,USD,0,0,S,2017-01-18,Meghna,Madhok,,1.01548e+16,Vibe 2017 - Dancing for a cause fundraiser,fundraiser,,10153757139666376,Sulabha Paranjape
2,1150356501743506,1484788806,30.0,1.5,28.5,USD,USD,0,0,S,2017-01-18,Reema,Paranjpe,,1.01548e+16,Vibe 2017 - Dancing for a cause fundraiser,fundraiser,,10153757139666376,Sulabha Paranjape
3,1150390291740832,1484789246,100.0,5.0,95.0,USD,USD,0,0,S,2017-01-18,Rohan,Paranjpe,,1.01548e+16,Vibe 2017 - Dancing for a cause fundraiser,fundraiser,,10153757139666376,Sulabha Paranjape
4,1157381731044325,1484789359,50.0,2.5,47.5,USD,USD,0,0,S,2017-01-18,Rohit,Dongre,,1.01548e+16,Vibe 2017 - Dancing for a cause fundraiser,fundraiser,,10153757139666376,Sulabha Paranjape

In [23]:
data_prep_obj.check_clenliness('facebook')

Additional columns in data: ['Campaign ID', 'Campaign Owner Name', 'Charge Action Type', 'Charge Date', 'Charge Time', 'Charity ID', 'Email Address', 'FB Fee', 'First Name', 'Last Name', 'Net Payout Amount', 'Payment ID', 'Payout Currency', 'Permalink', 'Sender Currency', 'Tax Amount', 'Tax USD Amount']
--------------------------------------------------
Missing columns in data: ['Campaign Title', 'City', 'Comment', 'Country', 'Donation Currency', 'Donation Date', 'Donor Email', 'Donor First Name', 'Donor Last Name', 'Donor Name', 'Fundraiser Email', 'Fundraiser Name', 'Portal', 'State', 'Transaction Type', 'Zip Code']

In [24]:
# Step 1 (Delete Columns) ----
cols_to_delete = ['Donation Amount','Campaign ID', 'Charge Action Type', 'Charge Time', 'Charity ID',
                  'FB Fee', 'Payment ID', 'Payout Currency', 'Permalink',
                  'Tax Amount', 'Tax USD Amount']  # list of single string
data_prep_obj.drop_columns('facebook',cols_to_delete)

In [25]:
# Now that we know what is mising and what is not named correctly, we can define a mapping to correct this
facebook_col_mapping = {'Charge Date': 'Donation Date',
                        'Email Address': 'Donor Email',
                        'First Name': 'Donor First Name',
                        'Last Name': 'Donor Last Name',
                        'Sender Currency': 'Donation Currency',
                        'Net Payout Amount': 'Donation Amount',
                        'Campaign Owner Name': 'Fundraiser Name'
                       }

data_prep_obj.map_columns('facebook', mapping=facebook_col_mapping)

In [26]:
# Step 2A (Add Blank Columns) ----
blank_cols_to_add = ['Campaign Title','Fundraiser Email','Comment','City','State','Zip Code','Country']
data_prep_obj.add_columns('facebook',blank_cols_to_add,'')

# Step 2B (Add Columns with fixed values) ----
data_prep_obj.add_columns('facebook','Transaction Type','Credit Card')
data_prep_obj.add_columns('facebook','Portal','Facebook')

In [27]:
# Clean up Fundraiser Name, Title and Source Name ----

data_prep_obj.filter_change('facebook','Source Name','donate_button_user_posts','Fundraiser Name','FB Generic Donation')
data_prep_obj.filter_change('facebook','Source Name','donate_button_user_posts','Fundraiser Title','FB Generic Donation')
data_prep_obj.filter_change('facebook','Source Name','donate_button_user_posts','Source Name','FB Generic Donation')

data_prep_obj.filter_change('facebook','Source Name','donate_button_charity_page','Fundraiser Name','FB Generic Donation')
data_prep_obj.filter_change('facebook','Source Name','donate_button_charity_page','Fundraiser Title','FB Generic Donation')
data_prep_obj.filter_change('facebook','Source Name','donate_button_charity_page','Source Name','FB Generic Donation')

data_prep_obj.filter_change('facebook','Source Name','fundraiser','Source Name','FB Individual Fundraiser')

In [28]:
# Clean up and combine First and Last Names ----
columns_to_strip = ['Donor First Name','Donor Last Name']
data_prep_obj.strip_columns('facebook', columns_to_strip)
data_prep_obj.concat_columns('facebook','Donor Name', columns_to_strip)

In [29]:
data_prep_obj.check_clenliness('facebook')

Additional columns in data: []
--------------------------------------------------
Missing columns in data: []

In [30]:
## Some things are not built into the Data Prep Object such as multiple filters and changes. 
# This can be done externally by extracting the data, manipulating it and then overwriting it back as shown below
temp = data_prep_obj.get_data("vibha")
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4001 entries, 0 to 4000
Data columns (total 19 columns):
Fundraiser Title     4001 non-null object
Campaign Title       4001 non-null object
Fundraiser Email     4001 non-null object
Donor First Name     4001 non-null object
Donor Last Name      4001 non-null object
Donation Date        4001 non-null object
Transaction Type     4001 non-null object
Donation Currency    4001 non-null object
Donation Amount      4001 non-null float64
Comment              4001 non-null object
Source Name          4001 non-null object
City                 4001 non-null object
State                4001 non-null object
Zip Code             4001 non-null object
Country              4001 non-null object
Donor Email          4001 non-null object
Portal               4001 non-null object
Donor Name           4001 non-null object
Fundraiser Name      4001 non-null object
dtypes: float64(1), object(18)
memory usage: 625.2+ KB

In [31]:
temp[(temp["Source Name"] == "Vibha Portal Fundraiser") & (temp["Campaign Title"] == "")].shape[0] #describe(include='all')

1468

In [32]:
# 1468 NA values which represent the parent campaign. Lets name the Source appropriately
temp.loc[(temp["Source Name"] == "Vibha Portal Fundraiser") 
         & (temp["Campaign Title"] == ""),['Source Name']] = "VP Parent Campaign"

In [33]:
# Check - Count should be 0 now
assert(temp[(temp["Source Name"] == "Vibha Portal Fundraiser") & (temp["Campaign Title"] == "")].shape[0] == 0) # describe(include='all')

In [34]:
data_prep_obj.overwrite_data('vibha',temp)

In [35]:
# For the parent campaigns, we need to set Campaign Title to be equal to Fundraiser Title
data_prep_obj.filter_change_to_col('vibha','Source Name','VP Parent Campaign','Campaign Title','Fundraiser Title')

In [36]:
# Lets rename the remaining to "VP Individual Fundraiser"
data_prep_obj.filter_change('vibha','Source Name','Vibha Portal Fundraiser','Source Name','VP Individual Fundraiser')

# Prepare to combine the 2 data sources

In [37]:
print(data_prep_obj.get_data('vibha').shape[0])
print(data_prep_obj.get_data('facebook').shape[0])

4001
6150

In [38]:
# Combine Data Sources
data_prep_obj.combine_all_data_sources() 
data_prep_obj.get_data('combined').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10151 entries, 0 to 10150
Data columns (total 19 columns):
Campaign Title       10151 non-null object
City                 10151 non-null object
Comment              10151 non-null object
Country              10151 non-null object
Donation Amount      10151 non-null float64
Donation Currency    10151 non-null object
Donation Date        10151 non-null object
Donor Email          10151 non-null object
Donor First Name     10151 non-null object
Donor Last Name      10151 non-null object
Donor Name           10151 non-null object
Fundraiser Email     10151 non-null object
Fundraiser Name      10151 non-null object
Fundraiser Title     10151 non-null object
Portal               10151 non-null object
Source Name          10151 non-null object
State                10151 non-null object
Transaction Type     10151 non-null object
Zip Code             10151 non-null object
dtypes: float64(1), object(18)
memory usage: 1.5+ MB

In [39]:
data_prep_obj.strip_columns('combined')

In [40]:
title_case_cols = ['Donor Name','Fundraiser Name']
data_prep_obj.title_case('combined',title_case_cols)

In [41]:
title_case_cols = ['City','State','Country']
data_prep_obj.upper_case('combined',title_case_cols)

In [42]:
# There should be no NA values at this time
assert(data_prep_obj.get_combined_data().isna().sum(axis=0).sum() == 0)

# More checks (comparing to previous methodology)
assert((data_prep_obj.get_combined_data()['Campaign Title'] == "").sum() == 6150)
assert((data_prep_obj.get_combined_data()['City'] == "").sum() == 6883)
assert((data_prep_obj.get_combined_data()['Country'] == "").sum() == 7069)
assert((data_prep_obj.get_combined_data()['Donation Amount'].sum()) == 1413591.9)
assert((data_prep_obj.get_combined_data()['Donation Currency'] == "USD").sum() == 9907)
assert((data_prep_obj.get_combined_data()['Donor Email'] == "").sum() == 9663)
assert((data_prep_obj.get_combined_data()['Donor Name'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['Fundraiser Email'] == "").sum() == 6647)
assert((data_prep_obj.get_combined_data()['Fundraiser Title'] == "").sum() == 31)
assert((data_prep_obj.get_combined_data()['Source Name'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['State'] == "").sum() == 6897)
assert((data_prep_obj.get_combined_data()['Transaction Type'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['Zip Code'] == "").sum() == 6885)

# More checks (comparing to previous methodology) -- Needs the stripping of columns to work
assert((data_prep_obj.get_combined_data()['Comment'] == "").sum() == 9417)
assert((data_prep_obj.get_combined_data()['Fundraiser Name'] == "").sum() == 580)
print("All asserts passed...")

All asserts passed...

### Post cleaning

In [43]:
data_prep_obj.to_datetime('combined','Donation Date')

In [44]:
temp = data_prep_obj.get_combined_data()
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10151 entries, 0 to 10150
Data columns (total 19 columns):
Campaign Title       10151 non-null object
City                 10151 non-null object
Comment              10151 non-null object
Country              10151 non-null object
Donation Amount      10151 non-null float64
Donation Currency    10151 non-null object
Donation Date        10151 non-null datetime64[ns]
Donor Email          10151 non-null object
Donor First Name     10151 non-null object
Donor Last Name      10151 non-null object
Donor Name           10151 non-null object
Fundraiser Email     10151 non-null object
Fundraiser Name      10151 non-null object
Fundraiser Title     10151 non-null object
Portal               10151 non-null object
Source Name          10151 non-null object
State                10151 non-null object
Transaction Type     10151 non-null object
Zip Code             10151 non-null object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 1.5+ MB

In [45]:
temp['Bin'] = pd.cut(temp['Donation Amount'], [-10000000,0, 25, 50, 100, 500, 10000000]
                                               , labels=['Refund', '< $25', '$25-$50', '$50-$100', '$100-$500', '> $500'])

In [46]:
temp['Donation Day'] = temp['Donation Date'].dt.day
temp['Donation Month'] = temp['Donation Date'].dt.month
temp['Donation Year'] = temp['Donation Date'].dt.year

In [47]:
data_prep_obj.overwrite_data('combined',temp)
data_prep_obj.get_combined_data().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10151 entries, 0 to 10150
Data columns (total 23 columns):
Campaign Title       10151 non-null object
City                 10151 non-null object
Comment              10151 non-null object
Country              10151 non-null object
Donation Amount      10151 non-null float64
Donation Currency    10151 non-null object
Donation Date        10151 non-null datetime64[ns]
Donor Email          10151 non-null object
Donor First Name     10151 non-null object
Donor Last Name      10151 non-null object
Donor Name           10151 non-null object
Fundraiser Email     10151 non-null object
Fundraiser Name      10151 non-null object
Fundraiser Title     10151 non-null object
Portal               10151 non-null object
Source Name          10151 non-null object
State                10151 non-null object
Transaction Type     10151 non-null object
Zip Code             10151 non-null object
Bin                  10151 non-null category
Donation Day         10151 non-null int64
Donation Month       10151 non-null int64
Donation Year        10151 non-null int64
dtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(17)
memory usage: 1.7+ MB

In [48]:
# There should be no NA values at this time
assert(data_prep_obj.get_combined_data().isna().sum(axis=0).sum() == 0)

# More checks (comparing to previous methodology)
assert((data_prep_obj.get_combined_data()['Campaign Title'] == "").sum() == 6150)
assert((data_prep_obj.get_combined_data()['City'] == "").sum() == 6883)
assert((data_prep_obj.get_combined_data()['Country'] == "").sum() == 7069)
assert((data_prep_obj.get_combined_data()['Donation Amount'].sum()) == 1413591.9)
assert((data_prep_obj.get_combined_data()['Donation Currency'] == "USD").sum() == 9907)
assert((data_prep_obj.get_combined_data()['Donor Email'] == "").sum() == 9663)
assert((data_prep_obj.get_combined_data()['Donor Name'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['Fundraiser Email'] == "").sum() == 6647)
assert((data_prep_obj.get_combined_data()['Fundraiser Title'] == "").sum() == 31)
assert((data_prep_obj.get_combined_data()['Source Name'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['State'] == "").sum() == 6897)
assert((data_prep_obj.get_combined_data()['Transaction Type'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['Zip Code'] == "").sum() == 6885)

# More checks (comparing to previous methodology) -- Needs the stripping of columns to work
assert((data_prep_obj.get_combined_data()['Comment'] == "").sum() == 9417)
assert((data_prep_obj.get_combined_data()['Fundraiser Name'] == "").sum() == 580)
print("All asserts passed...")

All asserts passed...

In [49]:
data_prep_obj.get_combined_data()['Country'].describe()

count     10151
unique       87
top
freq       7069
Name: Country, dtype: object

In [50]:
# Clean Country Information

data_prep_obj.filter_change('combined','Country','UNITED STATES','Country','USA')
data_prep_obj.filter_change('combined','Country','UNITED STATE','Country','USA')
data_prep_obj.filter_change('combined','Country','US','Country','USA')
data_prep_obj.filter_change('combined','Country','UNITED STATES OF AMERICA','Country','USA')
data_prep_obj.filter_change('combined','Country','UNITED STATE OF AMERICA','Country','USA')
data_prep_obj.filter_change('combined','Country','U.S.','Country','USA')
data_prep_obj.filter_change('combined','Country','U.S.A.','Country','USA')
data_prep_obj.filter_change('combined','Country','U.S.A','Country','USA')
data_prep_obj.filter_change('combined','Country','U S A','Country','USA')
data_prep_obj.filter_change('combined','Country','UNITEDSTATES','Country','USA')

data_prep_obj.filter_change('combined','Country','MIAM','Country','USA')
data_prep_obj.filter_change('combined','Country','MIAMI','Country','USA')
data_prep_obj.filter_change('combined','Country','FLORDIA','Country','USA')
data_prep_obj.filter_change('combined','Country','FLROIDA','Country','USA')
data_prep_obj.filter_change('combined','Country','FLOR','Country','USA')
data_prep_obj.filter_change('combined','Country','DLORIDA','Country','USA')
data_prep_obj.filter_change('combined','Country','LFORIDA','Country','USA')
data_prep_obj.filter_change('combined','Country','FLORIDA','Country','USA')

data_prep_obj.filter_change('combined','Country','DLORIFA','Country','USA')
data_prep_obj.filter_change('combined','Country','DLORIFA','Country','USA')


data_prep_obj.filter_change('combined','Country','NEW JERSEY','Country','USA')
data_prep_obj.filter_change('combined','Country','TX','Country','USA')
data_prep_obj.filter_change('combined','Country','DAKOTA','Country','USA')
data_prep_obj.filter_change('combined','Country','FAIRFAX','Country','USA')
data_prep_obj.filter_change('combined','Country','MN','Country','USA')
data_prep_obj.filter_change('combined','Country','GEORGIA','Country','USA')
data_prep_obj.filter_change('combined','Country','GA','Country','USA')
data_prep_obj.filter_change('combined','Country','COLLIN','Country','USA')
data_prep_obj.filter_change('combined','Country','NY','Country','USA')
data_prep_obj.filter_change('combined','Country','NEW YORK','Country','USA')
data_prep_obj.filter_change('combined','Country','WA','Country','USA')
data_prep_obj.filter_change('combined','Country','HENNEPIN','Country','USA')
data_prep_obj.filter_change('combined','Country','ERIE','Country','USA')

data_prep_obj.filter_change('combined','Country','LAURENS','Country','USA')
data_prep_obj.filter_change('combined','Country','ALAMEDA','Country','USA')
data_prep_obj.filter_change('combined','Country','RACINE','Country','USA')
data_prep_obj.filter_change('combined','Country','LEHIGH','Country','USA')
data_prep_obj.filter_change('combined','Country','CABBARUS','Country','USA')
data_prep_obj.filter_change('combined','Country','MIAN','Country','USA')
data_prep_obj.filter_change('combined','Country','FULTON','Country','USA')
data_prep_obj.filter_change('combined','Country','RAMSEY','Country','USA')
data_prep_obj.filter_change('combined','Country','FORSYTH','Country','USA')
data_prep_obj.filter_change('combined','Country','FLROD','Country','USA')
data_prep_obj.filter_change('combined','Country','MONTGOMERY','Country','USA')
data_prep_obj.filter_change('combined','Country','KENOSHA','Country','USA')


data_prep_obj.filter_change('combined','Country','KING','Country','USA')
data_prep_obj.filter_change('combined','Country','GWINNETT','Country','USA')
data_prep_obj.filter_change('combined','Country','COBB','Country','USA')
data_prep_obj.filter_change('combined','Country','DEKALB','Country','USA')
data_prep_obj.filter_change('combined','Country','KENOSHA','Country','USA')
data_prep_obj.filter_change('combined','Country','LFOR','Country','USA')
data_prep_obj.filter_change('combined','Country','HJAKG','Country','USA')
data_prep_obj.filter_change('combined','Country','CHATHAM','Country','USA')



data_prep_obj.filter_change('combined','Country','ESTADOS UNIDOS','Country','USA')

data_prep_obj.filter_change('combined','Country','PERÚ','Country','PERU')
data_prep_obj.filter_change('combined','Country','HONGKONG','Country','HONG KONG')
data_prep_obj.filter_change('combined','Country','MÉXICO','Country','MEXICO')
data_prep_obj.filter_change('combined','Country','PERÚ','Country','PERU')

data_prep_obj.filter_change('combined','Country','UNITED ARAB EMIRATES','Country','UAE')

data_prep_obj.filter_change('combined','Country','MIHO','Country','JAPAN')

data_prep_obj.filter_change('combined','Country','UNITED KINGDOM','Country','UK')
data_prep_obj.filter_change('combined','Country','MIDDLESEX','Country','UK')

data_prep_obj.filter_change('combined','Country','IN','Country','INDIA')

data_prep_obj.filter_change('combined','Country','ASDASD','Country','')
data_prep_obj.filter_change('combined','Country','ASD','Country','')
data_prep_obj.filter_change('combined','Country','SDASD','Country','')
data_prep_obj.filter_change('combined','Country','SADASD','Country','')
data_prep_obj.filter_change('combined','Country','ASDDSA','Country','')

data_prep_obj.filter_change('combined','Country','300','Country','')
data_prep_obj.filter_change('combined','Country','2727345934','Country','')
data_prep_obj.filter_change('combined','Country','NW','Country','')
data_prep_obj.filter_change('combined','Country','LOR','Country','')

data_prep_obj.get_combined_data()['Country'].describe()

count     10151
unique       18
top
freq       7084
Name: Country, dtype: object

In [51]:
data_prep_obj.get_combined_data()['Country'].unique()

array(['SINGAPORE', 'USA', '', 'INDIA', 'UK', 'OMAN', 'UAE', 'CANADA',
       'AUSTRALIA', 'JAPAN', 'HONG KONG', 'IRELAND', 'SWITZERLAND',
       'GERMANY', 'ECUADOR', 'MEXICO', 'PERU', 'NORWAY'], dtype=object)

In [52]:
#data_prep_obj.get_combined_data()[data_prep_obj.get_combined_data()['Country'] == 'LOR']

In [53]:
# There should be no NA values at this time
assert(data_prep_obj.get_combined_data().isna().sum(axis=0).sum() == 0)

# More checks (comparing to previous methodology)
assert((data_prep_obj.get_combined_data()['Campaign Title'] == "").sum() == 6150)
assert((data_prep_obj.get_combined_data()['City'] == "").sum() == 6883)
print((data_prep_obj.get_combined_data()['Country'] == "").sum())# == 7069)
assert((data_prep_obj.get_combined_data()['Donation Amount'].sum()) == 1413591.9)
assert((data_prep_obj.get_combined_data()['Donation Currency'] == "USD").sum() == 9907)
assert((data_prep_obj.get_combined_data()['Donor Email'] == "").sum() == 9663)
assert((data_prep_obj.get_combined_data()['Donor Name'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['Fundraiser Email'] == "").sum() == 6647)
assert((data_prep_obj.get_combined_data()['Fundraiser Title'] == "").sum() == 31)
assert((data_prep_obj.get_combined_data()['Source Name'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['State'] == "").sum() == 6897)
assert((data_prep_obj.get_combined_data()['Transaction Type'] == "").sum() == 0)
assert((data_prep_obj.get_combined_data()['Zip Code'] == "").sum() == 6885)

# More checks (comparing to previous methodology) -- Needs the stripping of columns to work
assert((data_prep_obj.get_combined_data()['Comment'] == "").sum() == 9417)
assert((data_prep_obj.get_combined_data()['Fundraiser Name'] == "").sum() == 580)
print("All asserts passed...")

7084
All asserts passed...

In [54]:
data_prep_obj.get_combined_data().head()

,Campaign Title,City,Comment,Country,Donation Amount,Donation Currency,Donation Date,Donor Email,Donor First Name,Donor Last Name,...,Fundraiser Title,Portal,Source Name,State,Transaction Type,Zip Code,Bin,Donation Day,Donation Month,Donation Year
0,Celebrate To Educate,SINGAPORE,,SINGAPORE,50.0,USD,2019-01-09,,Lakshmi,Kritika,...,Samaksh In Onederland,Vibha,VP Individual Fundraiser,SINGAPORE,Credit Card,189651,$25-$50,9,1,2019
1,Vibha Vibe 2019 Dancing For A Cause,JOHNS CREEK,"We are excited to dance in Vibha’s Vibe 2019, ...",USA,100.0,USD,2019-01-09,,Rajen,Sheth,...,Rajen & Sangeeta's Fundraiser For Vibe 2019,Vibha,VP Individual Fundraiser,GEORGIA,Credit Card,30022,$50-$100,9,1,2019
2,Celebrate To Educate,SINGAPORE,,SINGAPORE,50.0,USD,2019-01-08,,Robyn,Dittrich,...,Samaksh In Onederland,Vibha,VP Individual Fundraiser,,Credit Card,307454,$25-$50,8,1,2019
3,"This Year End, Let's Invest In Brighter Futures",AURORA,,USA,100.0,USD,2019-01-05,,Sreedhar,Swayampakula,...,"This Year End, Let's Invest In Brighter Futures",Vibha,VP Parent Campaign,IL,Credit Card,60504,$50-$100,5,1,2019
4,"This Year End, Let's Invest In Brighter Futures",,Check received by vivek.,,4000.0,USD,2019-01-04,,Jaishree,Knauff,...,A Brighter Future For Children In Need,Vibha,VP Individual Fundraiser,,Check,,> $500,4,1,2019

In [55]:
data_prep_obj.get_combined_data().describe(include='all').transpose()

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Campaign Title,10151,41,,6150,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,10151,653,,6883,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Comment,10151,693,,9417,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,10151,18,,7084,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donation Amount,10151,NaN,NaN,NaN,NaT,NaT,139.256,1287.31,-2351.25,20,47.5,100,101000
Donation Currency,10151,11,USD,9907,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donation Date,10151,668,2017-11-28 00:00:00,259,2017-01-18,2019-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donor Email,10151,263,,9663,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donor First Name,10151,3793,Milly,64,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donor Last Name,10151,4665,Patel,198,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donor Name,10151,7263,Milly Parekh,64,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fundraiser Email,10151,212,,6647,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fundraiser Name,10151,475,Tripura Vadlamani,906,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fundraiser Title,10151,728,"This Year End, Let's Invest In An Opportunity!",851,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portal,10151,2,Facebook,6150,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source Name,10151,5,FB Individual Fundraiser,6057,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,10151,199,,6897,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Transaction Type,10151,4,Credit Card,9454,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zip Code,10151,1040,,6885,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bin,10151,6,< $25,4025,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donation Day,10151,NaN,NaN,NaN,NaT,NaT,16.1657,8.84911,1,9,16,24,31
Donation Month,10151,NaN,NaN,NaN,NaT,NaT,6.38292,3.51173,1,3,7,9,12
Donation Year,10151,NaN,NaN,NaN,NaT,NaT,2017.72,0.456435,2017,2017,2018,2018,2019

In [56]:
data_prep_obj.get_combined_data()[data_prep_obj.get_combined_data()['Fundraiser Email'] == 'dishishah02@gmail.com'].head()

,Campaign Title,City,Comment,Country,Donation Amount,Donation Currency,Donation Date,Donor Email,Donor First Name,Donor Last Name,...,Fundraiser Title,Portal,Source Name,State,Transaction Type,Zip Code,Bin,Donation Day,Donation Month,Donation Year
4,"This Year End, Let's Invest In Brighter Futures",,Check received by vivek.,,4000.0,USD,2019-01-04,,Jaishree,Knauff,...,A Brighter Future For Children In Need,Vibha,VP Individual Fundraiser,,Check,,> $500,4,1,2019
254,"This Year End, Let's Invest In Brighter Futures",,https://www.facebook.com/donate/98743134144111...,,200.0,USD,2018-11-27,,Milly,Parekh,...,A Brighter Future For Children In Need,Vibha,VP Individual Fundraiser,,Check,,$100-$500,27,11,2018
255,"This Year End, Let's Invest In Brighter Futures",,Facebook donation on Giving Tuesday - https://...,,2500.0,USD,2018-11-27,,Facebook,Donations,...,A Brighter Future For Children In Need,Vibha,VP Individual Fundraiser,,Check,,> $500,27,11,2018
265,"This Year End, Let's Invest In Brighter Futures",,Matching donation submitted by Kailash Kothari...,,2000.0,USD,2018-11-19,,Kailash,Kothari,...,A Brighter Future For Children In Need,Vibha,VP Individual Fundraiser,,Check,,> $500,19,11,2018
266,"This Year End, Let's Invest In Brighter Futures",,Check mailed to Vivek on 08/17/18,,50.0,USD,2018-11-19,,Ashok,Kumar,...,A Brighter Future For Children In Need,Vibha,VP Individual Fundraiser,,Check,,$25-$50,19,11,2018

In [57]:
data_prep_obj.get_combined_data()[data_prep_obj.get_combined_data()['Donor Name'] == 'Seema Ramchandani']['Fundraiser Name'] == ""

980    True
989    True
991    True
992    True
998    True
999    True
Name: Fundraiser Name, dtype: bool

In [58]:
pd.isna(data_prep_obj.get_combined_data()[data_prep_obj.get_combined_data()['Donor Name'] == 'Seema Ramchandani']['Fundraiser Name'])

980    False
989    False
991    False
992    False
998    False
999    False
Name: Fundraiser Name, dtype: bool

In [59]:
"1<" + data_prep_obj.get_combined_data()[data_prep_obj.get_combined_data()['Donor Name'] == 'Seema Ramchandani']['Fundraiser Name'] + ">1"

980    1<>1
989    1<>1
991    1<>1
992    1<>1
998    1<>1
999    1<>1
Name: Fundraiser Name, dtype: object

In [60]:
import pandas as pd
df = pd.DataFrame(dict(A=[5,3,5,6], B = ["foo1","bar1","foo1", "bat1"], C=["foo","bar","foo", "bat"]))
df

   A     B    C
0  5  foo1  foo
1  3  bar1  bar
2  5  foo1  foo
3  6  bat1  bat

In [61]:
concat_list = ['B','C']
df['new'] = ""
df['new2'] = ""
for column in concat_list:
    df['new'] = df['new'] + " " + df[column]
    df['new2'] = df['new2'] + " " + df[column]

In [62]:
df['combined'] = df[concat_list].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
df

   A     B    C        new       new2  combined
0  5  foo1  foo   foo1 foo   foo1 foo  foo1 foo
1  3  bar1  bar   bar1 bar   bar1 bar  bar1 bar
2  5  foo1  foo   foo1 foo   foo1 foo  foo1 foo
3  6  bat1  bat   bat1 bat   bat1 bat  bat1 bat

In [63]:
print(df['new'][1])
print(df['new2'][1])
print(df['combined'][1])

 bar1 bar
 bar1 bar
bar1 bar

In [64]:
df.helper.strip_columns(['new','new2'])

# #df[['new','new2']].astype(str).apply(lambda x: x.strip())
# df[['new','new2']] = df[['new','new2']].apply(lambda x: x.str.strip(), axis=0)

# # # df[df.columns] = df.apply(lambda x: x.str.strip())
# # df['new2'] = df['new2'].astype(str).apply(lambda x: x.strip())

   A     B    C       new      new2  combined
0  5  foo1  foo  foo1 foo  foo1 foo  foo1 foo
1  3  bar1  bar  bar1 bar  bar1 bar  bar1 bar
2  5  foo1  foo  foo1 foo  foo1 foo  foo1 foo
3  6  bat1  bat  bat1 bat  bat1 bat  bat1 bat

In [65]:
print(df['new'][1])
print(df['new2'][1])
print(df['combined'][1])

bar1 bar
bar1 bar
bar1 bar

In [66]:
filter_list = ['foo','bar']

In [67]:
# def present(value, filter_list):
#     if (value in filter_list):
#         return True
#     else:
#         return False


# df[df['C'].apply(present, filter_list=filter_list)]

In [68]:
import sys
sys.path.append("C:/Users/Nikhil/Google Drive Work/MyPythonLibraries/more/more")
#from more import pandas_helper
import pandas_helper

In [69]:
df.helper.filter_delete('C',filter_list)
df

C:/Users/Nikhil/Google Drive Work/MyPythonLibraries/more/more\pandas_helper\__init__.py:188: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return(self._obj[keep])

   A     B    C       new      new2  combined
0  5  foo1  foo  foo1 foo  foo1 foo  foo1 foo
1  3  bar1  bar  bar1 bar  bar1 bar  bar1 bar
2  5  foo1  foo  foo1 foo  foo1 foo  foo1 foo
3  6  bat1  bat  bat1 bat  bat1 bat  bat1 bat